@font-face {
    font-family: paradise;
    src: url(/fonts/Paradise.ttf);
}

@font-face {
    font-family: channel;
    src: url(/fonts/Channel.ttf);
}

body {
  padding-top: 80px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-top: 20px;
    font-family: channel;
    font-size: 29px;
    color: #2D6167;
  }
}

.nivo-caption {
    bottom: 50% !important;
    /*margin: 0 auto !important;*/
    /*margin-left: 10%;*/
    /*max-width: 500px;*/
    /*max-height: 200px;*/
    /*opacity: 0.6;*/
    background-color: transparent !important;
}

@media (min-width: 768px) { 
    .nivo-caption1 {
        margin-left: 10%;
        left: 0;
        max-width:500px;
        font-size:38px;
        line-height:40px;
        text-transform:none;
    }
    .nivo-caption1a {
        margin-left: 10%;
        left: 0;
        font-size:12px;
        line-height:14px;
        text-transform:none;
    }
    .nivo-caption2 {
        margin-left:230px;
        margin-top:10px;
        width:350px;
    }
    .nivo-caption3 {
        margin-left:10px;
        margin-top:100px;
        width:350px;
    }    
}

.nivo-caption1 {
    margin-left: 10%;
    left: 0;
    max-width:500px;
    font-size:38px;
    line-height:40px;
    text-transform:none;
}
.nivo-caption1a {
    margin-left: 10%;
    left: 0;
    font-size:12px;
    line-height:14px;
    text-transform:none;
}
.nivo-caption2 {
    margin-left:230px;
    margin-top:10px;
    width:350px;
}
.nivo-caption3 {
    margin-left:10px;
    margin-top:100px;
    width:350px;
}    