<div class="container">

  <div class="section_header">
    <h2>Contact</h2>
  </div>

  <form class="form-horizontal" name="contactForm" novalidate>
    <div class="row">
      <div class="col-md-6">

        <!-- NAME -->
        <div class="form-group has-feedback" ng-class="{'has-error': !contactForm.name.$valid && !contactForm.name.$pristine, 'has-success': contactForm.name.$valid }">
          <label for="contactName">Name</label>
          <input type="text" class="form-control right-inner-addon input-sm" id="contactName" placeholder="Name"
          name="name" ng-model="contact.name" ng-minlength="5" ng-maxlength="20" required/>
          <span ng-show="contactForm.name.$valid && !contactForm.name.$pristine" class="glyphicon glyphicon-ok form-control-feedback" area-hidden='true'></span>

          <div ng-messages="contactForm.name.$error" ng-show="!contactForm.name.$pristine">
            <div ng-messages-include="views/includes/messages.html"></div>
          </div>

        </div>
        <!-- EMAIL -->
        <div class="form-group has-feedback" ng-class="{'has-error': !contactForm.email.$valid && !contactForm.email.$pristine, 'has-success': contactForm.email.$valid }">
          <label for="contactEmail">Email</label>
          <input type="email" class="form-control right-inner-addon input-sm" name="email" id="contactEmail" placeholder="Email"
          ng-model="contact.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
          <span ng-show="contactForm.email.$valid && !contactForm.email.$pristine" class="glyphicon glyphicon-ok form-control-feedback" area-hidden='true'></span>

          <div ng-messages="contactForm.email.$error" ng-show="!contactForm.email.$pristine">
            <div ng-messages-include="views/includes/messages.html"></div>
          </div>
        </div>

        <!-- MESSAGE -->
        <div class="form-group has-feedback" ng-class="{'has-error': !contactForm.message.$valid && !contactForm.message.$pristine, 'has-success': contactForm.message.$valid }">
          <label for="contactMessage">Message</label>
          <textarea rows="5" name="message" class="form-control input-sm" id="contactMessage" placeholder="Tell-me what you want"
          ng-model="contact.message" required/>
          <span ng-show="contactForm.message.$valid && !contactForm.message.$pristine" class="glyphicon glyphicon-ok form-control-feedback" area-hidden='true'></span>

          <div ng-messages="contactForm.message.$error" ng-show="!contactForm.message.$pristine">
            <div ng-messages-include="views/includes/messages.html"></div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="observation">
          <h4>Observations</h4>
          <hr>
          <p>
            Here we will put some text to show some Observations to the user.

            teste
          </p>
        </div>
      </div>
    </div>

    <button type="submit" ng-click="sendContact(contact)" class="btn btn-success" ng-disabled="contactForm.$invalid">
      Send
    </button>

  </form>
</div>
